# Finviz Finance

## Quote

In [2]:
import pandas as pd
from finvizfinance.quote import finvizfinance

stock = finvizfinance('tsla')

Ticker exists.

In [3]:
stock.TickerCharts()

Done

In [4]:
stock_fundament = stock.TickerFundament()
stock_description = stock.TickerDescription()
outer_ratings_df = stock.TickerOuterRatings()
news_df = stock.TickerNews()
inside_trader_df = stock.TickerInsideTrader()

In [5]:
print(stock_fundament)

{'Company': 'Tesla, Inc.', 'Sector': 'Consumer Cyclical', 'Industry': 'Auto Manufacturers', 'Country': 'USA', 'Index': '-', 'P/E': '849.57', 'EPS (ttm)': '1.94', 'Insider Own': '0.10%', 'Shs Outstand': '186.00M', 'Perf Week': '13.63%', 'Market Cap': '302.10B', 'Forward P/E': '106.17', 'EPS next Y': '78.63%', 'Insider Trans': '-42.23%', 'Shs Float': '148.40M', 'Perf Month': '10.00%', 'Income': '368.00M', 'PEG': '-', 'EPS next Q': '2.67', 'Inst Own': '53.00%', 'Short Float': '8.05%', 'Perf Quarter': '106.55%', 'Sales': '25.71B', 'P/S': '11.75', 'EPS this Y': '14.90%', 'Inst Trans': '6.10%', 'Short Ratio': '0.91', 'Perf Half Y': '106.33%', 'Book/sh': '52.98', 'P/B': '31.16', 'ROA': '1.00%', 'Target Price': '1256.25', 'Perf Year': '665.49%', 'Cash/sh': '47.07', 'P/C': '35.07', 'EPS next 5Y': '-', 'ROE': '4.60%', '52W Range': '211.00 - 1794.99', 'Perf YTD': '294.60%', 'Dividend': '-', 'P/FCF': '116.30', 'EPS past 5Y': '-15.60%', 'ROI': '-0.90%', '52W High': '-8.04%', 'Beta': '1.31', 'Dividend %': '-', 'Quick Ratio': '0.90', 'Sales past 5Y': '50.40%', 'Gross Margin': '19.80%', '52W Low': '682.33%', 'ATR': '98.74', 'Employees': '48016', 'Current Ratio': '1.20', 'Sales Q/Q': '-4.90%', 'Oper. Margin': '4.80%', 'RSI (14)': '65.45', 'Volatility': '5.52% 5.85%', 'Optionable': 'Yes', 'Debt/Eq': '1.43', 'EPS Q/Q': '121.70%', 'Profit Margin': '1.40%', 'Rel Volume': '0.95', 'Prev Close': '1621.00', 'Shortable': 'Yes', 'LT Debt/Eq': '1.06', 'Earnings': 'Jul 22 AMC', 'Payout': '0.00%', 'Avg Volume': '13.19M', 'Price': '1650.71', 'Recom': '3.00', 'SMA20': '9.92%', 'SMA50': '28.91%', 'SMA200': '118.91%', 'Volume': '12,520,905', 'Change': '1.83%'}

In [6]:
print(stock_description)

Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, Netherlands, Norway, and internationally. The company operates in two segments, Automotive; and Energy Generation and Storage. The Automotive segment offers sedans and sport utility vehicles. It also provides electric powertrain components and systems; and services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians, as well as sells used vehicles. This segment markets and sells its products through a network of company-owned stores and galleries, as well as through its own Website. The Energy Generation and Storage segment offers energy storage products, such as rechargeable lithium-ion battery systems for use in homes, industrial, commercial facilities, and utility grids; and designs, manufactures, installs, maintains, leases, and sells solar energy generation and energy storage products to residential and commercial customers. It also provides vehicle insurance services, as well as renewable energy. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.

In [7]:
outer_ratings_df.head()

,Date,Status,Outer,Rating,Price
0,2020-08-14,Upgrade,Morgan Stanley,Underweight → Equal-Weight,$1050 → $1360
1,2020-08-14,Upgrade,BofA Securities,Underperform → Neutral,$800 → $1750
2,2020-07-29,Reiterated,Morgan Stanley,Underweight,$740 → $1050
3,2020-07-28,Downgrade,Bernstein,Mkt Perform → Underperform,$900
4,2020-07-24,Upgrade,Argus,Hold → Buy,

In [8]:
news_df.head()

,Date,Title,Link
0,2020-08-15 18:31:00,Dow Jones Futures: Stock Market Rally Sends Me...,https://www.investors.com/market-trend/stock-m...
1,2020-08-15 15:34:00,Its Time to Build Cash to Take Advantage of St...,https://www.barrons.com/articles/time-to-build...
2,2020-08-15 12:58:00,3 Revolutionary Stocks That Can Make You Rich,https://www.fool.com/investing/2020/08/15/3-re...
3,2020-08-15 07:07:00,Forget Pre-Split Tesla: These 3 Stocks Are Bet...,https://www.fool.com/investing/2020/08/15/forg...
4,2020-08-15 03:55:00,China's CATL is developing new EV battery with...,https://in.finance.yahoo.com/news/chinas-catl-...

In [9]:
inside_trader_df.head()

,Insider Trading,Relationship,Date,Transaction,Cost,#Shares,Value ($),#Shares Total,SEC Form 4,Insider_id
0,Baglino Andrew D,SVP Powertrain and Energy Eng.,Aug 10,Option Exercise,241.93,200.0,48386.0,4322.0,Aug 12 08:43 PM,1790565
1,Baglino Andrew D,SVP Powertrain and Energy Eng.,Aug 10,Sale,1445.25,300.0,433575.0,4022.0,Aug 12 08:43 PM,1790565
2,Guillen Jerome M,"President, Automotive",Aug 03,Option Exercise,258.18,3000.0,774540.0,12752.0,Aug 05 08:48 PM,1584518
3,Guillen Jerome M,"President, Automotive",Aug 03,Sale,1450.21,3000.0,4350630.0,9752.0,Aug 05 08:48 PM,1584518
4,Wilson-Thompson Kathleen,Director,Jul 31,Option Exercise,224.74,2500.0,561850.0,2860.0,Aug 04 09:17 PM,1331680

## News

In [10]:
from finvizfinance.news import News
fnews = News()
all_news = fnews.getNews()

In [11]:
all_news['news'].head()

,Date,Title,Source,Link
0,05:00PM,"First Into the Virus Slump, China Is Proving t...",www.bloomberg.com,https://www.bloomberg.com/news/articles/2020-0...
1,04:53PM,Lyon stun Manchester City to reach Champions L...,www.cnn.com,https://www.cnn.com/2020/08/15/football/lyon-m...
2,02:44PM,"Barron's Top Three: Stock splits, retail inves...",video.foxbusiness.com,https://video.foxbusiness.com/v/6181328626001/
3,02:38PM,Argentina May Add Changes to $200 Greenback Pu...,www.bloomberg.com,https://www.bloomberg.com/news/articles/2020-0...
4,01:51PM,Saudi Wealth Fund Moves Billions from Blue Chi...,www.wsj.com,https://www.wsj.com/articles/saudi-wealth-fund...

In [12]:
all_news['blogs'].head()

,Date,Title,Source,Link
0,06:45PM,"No, Warren Buffet Did Not Buy Gold",www.thestreet.com,https://www.thestreet.com/mishtalk/economics/n...
1,06:40PM,China's Landlords Hit With First Rent Price Sl...,zerohedge,http://feedproxy.google.com/~r/zerohedge/feed/...
2,06:15PM,'Black Lives Matter'-Mob Demands White People ...,zerohedge,http://feedproxy.google.com/~r/zerohedge/feed/...
3,05:50PM,"California Man Receives $860,000 In Fraudulent...",zerohedge,http://feedproxy.google.com/~r/zerohedge/feed/...
4,05:45PM,August 15 COVID-19 Test Results,CalculatedRisk,http://feedproxy.google.com/~r/CalculatedRisk/...

## Insider

In [13]:
from finvizfinance.insider import Insider
finsider = Insider(option='top owner trade')
finsider.getInsider().head()

,Ticker,Owner,Relationship,Date,Transaction,Cost,#Shares,Value ($),#Shares Total,SEC Form 4
0,HLF,ICAHN CARL C,10% Owner,Aug 12,Sale,48.75,14722025.0,717698719.0,20505879.0,Aug 14 07:58 PM
1,FBC,MP Thrift Investments L.P.,10% Owner,Aug 12,Sale,30.05,6900000.0,207345000.0,13700352.0,Aug 12 04:20 PM
2,AQUA,AEA INVESTORS LP,10% Owner,Aug 10,Sale,20.35,6369232.0,129613871.0,19649621.0,Aug 11 04:20 PM
3,AQUA,AEA INVESTORS FUND V LP,10% Owner,Aug 10,Sale,20.35,6369232.0,129613871.0,19649621.0,Aug 11 04:23 PM
4,IAC,IAC/InterActiveCorp,10% Owner,Aug 07,Buy,18.89,6000000.0,113326703.0,59033902.0,Aug 10 09:27 AM

Use case: getting specific insider information

In [14]:
from finvizfinance.insider import Insider
finsider = Insider(option='1771340')
finsider.getInsider().head()

,Ticker,Owner,Relationship,Date,Transaction,Cost,#Shares,Value ($),#Shares Total,SEC Form 4
0,TSLA,Taneja Vaibhav,Chief Accounting Officer,Jul 20,Option Exercise,273.29,817.0,223277.0,3616.0,Jul 22 09:50 PM
1,TSLA,Taneja Vaibhav,Chief Accounting Officer,Jul 20,Sale,1558.75,887.0,1382608.0,2729.0,Jul 22 09:50 PM
2,TSLA,Taneja Vaibhav,Chief Accounting Officer,Jun 05,Option Exercise,0.00,733.0,0.0,3170.0,Jun 09 09:05 PM
3,TSLA,Taneja Vaibhav,Chief Accounting Officer,Jun 08,Option Exercise,273.26,500.0,136630.0,3299.0,Jun 09 09:05 PM
4,TSLA,Taneja Vaibhav,Chief Accounting Officer,Jun 08,Sale,949.76,500.0,474880.0,2799.0,Jun 09 09:05 PM

## Screener

Use case: setting filters

In [15]:
from finvizfinance.screener.overview import Overview
foverview = Overview()
filters_dict = {'Exchange':'AMEX','Sector':'Basic Materials'}
foverview.set_filter(filters_dict=filters_dict)
df = foverview.ScreenerView(order='Company')
df.head()

[Info] loading page 1/3 ...
[Info] loading page 2/3 ...
[Info] loading page 3/3 ...

,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,AAU,Almaden Minerals Ltd.,Basic Materials,Gold,Canada,8.511000e+07,None,0.74,0.0086,376305.0
1,USAS,Americas Gold and Silver Corporation,Basic Materials,Other Industrial Metals & Mining,Canada,3.297800e+08,None,3.14,-0.0126,777041.0
2,AUG,Auryn Resources Inc.,Basic Materials,Other Industrial Metals & Mining,Canada,2.453600e+08,15.62,2.28,-0.0087,286274.0
3,ASM,Avino Silver & Gold Mines Ltd.,Basic Materials,Silver,Canada,1.115000e+08,None,1.16,-0.0866,2428843.0
4,BTG,B2Gold Corp.,Basic Materials,Gold,Canada,6.990000e+09,20.06,6.72,-0.0015,5550518.0

Use case: getting companys which are similar to TSLA.

In [16]:
ticker = 'tsla'
compare_list = ['Sector','Industry','Country']

from finvizfinance.screener.financial import Financial
ffinancial = Financial()
df = ffinancial.compare(ticker,compare_list,verbose=0)
df

Ticker exists.

,Ticker,Market Cap,Dividend,ROA,ROE,ROI,Curr R,Quick R,LTDebt/Eq,Debt/Eq,Gross M,Oper M,Profit M,Earnings,Price,Change,Volume
0,AYRO,9.451000e+07,None,-1.104,-2.219,None,1.6,1.6,0,0,None,None,None,-,3.74,-0.0435,1293724.0
1,BLBD,3.275500e+08,None,0.031,-0.180,0.302,1.3,0.2,None,None,0.126,0.025,0.011,Aug 12/a,12.30,0.0157,179487.0
2,F,2.747000e+10,None,-0.008,-0.066,0.007,1.3,1.2,3.89,5.68,0.044,-0.039,-0.016,Jul 30/a,7.04,0.0014,43478894.0
3,GM,3.943000e+10,None,0.006,0.037,0.032,1.1,1,2.22,3.24,0.083,0.01,0.013,Jul 29/b,27.86,0.0113,8532119.0
4,NKLA,1.742000e+10,None,-0.324,-0.340,None,None,None,0,0.01,None,None,None,Aug 04/a,45.96,-0.0002,12465208.0
5,TSLA,3.021000e+11,None,0.010,0.046,-0.009,1.2,0.9,1.06,1.43,0.198,0.048,0.014,Jul 22/a,1650.71,0.0183,12520905.0
6,WKHS,1.600000e+09,None,-3.081,3.316,-1.029,0.3,0.3,None,None,None,None,None,Aug 10/b,15.27,0.0039,7963804.0

Use case: getting companys that have 'Triangle Ascending' signal.

In [17]:
signal = 'Triangle Ascending'
foverview.set_filter(signal=signal)
df = foverview.ScreenerView()
df.head()

[Info] loading page 1/2 ...
[Info] loading page 2/2 ...

,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,TOWN,TowneBank,Financial,Banks - Regional,USA,1.400000e+09,10.07,19.40,0.0041,102414.0
1,MO,"Altria Group, Inc.",Consumer Defensive,Tobacco,USA,7.911000e+10,None,42.54,-0.0007,4880108.0
2,AMNB,American National Bankshares Inc.,Financial,Banks - Regional,USA,2.640100e+08,8.95,24.40,0.0137,10026.0
3,ARD,Ardagh Group S.A.,Consumer Cyclical,Packaging & Containers,Luxembourg,3.610000e+09,None,15.20,-0.0039,32536.0
4,ATGE,Adtalem Global Education Inc.,Consumer Defensive,Education & Training Services,USA,1.850000e+09,8.6,35.75,0.0025,266572.0

Use case: Getting individual company.

In [18]:
ticker='TSLA'
foverview.set_filter(signal='', filters_dict={}, ticker=ticker)
df = foverview.ScreenerView()
df.head()

[Info] loading page 1/1 ...

,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,TSLA,"Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,USA,3.021000e+11,849.57,1650.71,0.0183,12520905.0

# Forex

In [19]:
from finvizfinance.forex import Forex
fforex = Forex()
df = fforex.performance()

In [20]:
fforex.chart('audusd')

Done

# Crypto

In [21]:
from finvizfinance.crypto import Crypto
fcrypto = Crypto()
fcrypto.performance()
fcrypto.chart('btcusd',timeframe='5M')

Done

# Group

In [22]:
from finvizfinance.group.overview import Overview
fgoverview = Overview()
df = fgoverview.ScreenerView(group='Industry')
df.tail()

,Name,Stocks,Market Cap,Dividend,P/E,Fwd P/E,PEG,Float Short,Change,Volume
139,Utilities - Regulated Electric,37,6.679100e+11,0.0327,21.93,17.41,3.72,0.0166,-0.0089,44000000.0
140,Utilities - Regulated Gas,12,6.000000e+10,0.0295,32.27,16.4,7.25,0.0288,-0.0033,8920000.0
141,Utilities - Regulated Water,15,5.393000e+10,0.018,36.74,37.09,4.47,0.0175,-0.0051,3190000.0
142,Utilities - Renewable,11,4.001000e+10,0.0223,52.15,68.07,4.27,0.0195,-0.0032,25740000.0
143,Waste Management,23,1.263700e+11,0.0133,42.63,30.64,10.97,0.0219,-0.0020,34150000.0

In [23]:
from finvizfinance.group.valuation import Valuation
fgvaluation = Valuation()
df = fgvaluation.ScreenerView(group='Industry')
df.tail()

,Name,Market Cap,P/E,Fwd P/E,PEG,P/S,P/B,P/C,P/FCF,EPS past 5Y,EPS next 5Y,Sales past 5Y,Change,Volume
139,Utilities - Regulated Electric,667.91B,21.93,17.41,3.72,2.37,1.63,32.19,44.42,0.0227,0.0590,0.0201,-0.0089,44000000.0
140,Utilities - Regulated Gas,60.00B,32.27,16.40,7.25,1.72,1.91,22.94,46.62,0.028,0.0445,-0.0147,-0.0033,8920000.0
141,Utilities - Regulated Water,53.93B,36.74,37.09,4.47,5.33,3.03,42.76,62.07,0.0617,0.0822,0.0425,-0.0051,3190000.0
142,Utilities - Renewable,40.01B,52.15,68.07,4.27,3.41,2.07,21.48,94.81,-0.3067,0.1220,0.1529,-0.0032,25740000.0
143,Waste Management,126.37B,42.63,30.64,10.97,2.87,4.53,27.19,32.6,0.1036,0.0389,0.0729,-0.0020,34150000.0

In [24]:
from finvizfinance.group.performance import Performance
fgperformance = Performance()
df = fgperformance.ScreenerView(group='Industry')
df.tail()

,Name,Perf Week,Perf Month,Perf Quart,Perf Half,Perf Year,Perf YTD,Recom,Avg Volume,Rel Volume,Change,Volume
139,Utilities - Regulated Electric,-2.23%,0.0232,0.1097,-0.1512,-0.0319,-0.0783,2.47,71370000.0,0.62,-0.0089,44000000.0
140,Utilities - Regulated Gas,-0.45%,0.0524,0.1370,-0.1687,-0.1580,-0.1482,2.33,16100000.0,0.55,-0.0033,8920000.0
141,Utilities - Regulated Water,-3.20%,0.0247,0.2307,-0.0864,0.0375,-0.0005,2.25,4800000.0,0.66,-0.0051,3190000.0
142,Utilities - Renewable,-0.79%,0.0547,0.1696,-0.0289,0.2739,0.1194,2.15,4340000.0,5.93,-0.0032,25740000.0
143,Waste Management,-1.07%,0.0425,0.1535,-0.0855,0.0096,0.0056,2.14,12950000.0,2.64,-0.0020,34150000.0